.container{
  font-family: 'Quicksand', sans-serif;
  color: white;
  height: auto;
  top: 0;
  width: 100%;
}
  nav{
    background-color: rgba(180,223,229,0.5);
    width: inherit;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    /* top: 0;position: fixed; */
  }
  nav ul{
    text-align: right;
  }
  nav ul li{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.25em;

  }

  nav ul li a{
    color: #303c6c;
    font-size: 1.2em;
    text-decoration: none;
  }
  nav ul li:hover{
    background-color: #fbe8a6;
  }
  nav ul li a:hover{
    color: #303c6c;
  }
  .about{
    margin-top: 6em;
    background-color: #303c6c;
    height: 25em;
  }
  #name{
    float: left;
    background-image: url('../images/office.jpg');
    width: 70%;
    background-size: cover;
    background-position: center;
    height:25em;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    margin-right: 1em;
  }

  #resume{
    background-color: #b4dfe5;
    color: #303c6c;
    height: 50em;
  }
  #desc{
    padding: 0 1em 1em 1em;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
  }
  #one, #two{
    color: #f4976c;
  }
  #three{
    font-size: 1.5em;
  }
  #background{
    float: left;
    width: 70%;
    text-align: center;
    border-right: 2px solid #303c6c;
    margin-right: 2.5em;

  }
  #background ul{
    text-align: left;
  }
  #background h3{
    text-decoration: underline;
  }
  #background p span{
    text-align: left;
  }
  #skills{
    padding-top: 1em;
  }
  #skills img{
    margin-left: 10em;
  }
  #program{
    background-color: #303c6c;
    color: #303c6c;
    font-size: 1.5em;
    color: #ffffff;
  }
  #program h2{
    text-align: center;
    color: #f4976c;
  }
