
  nav{
    background-color: #b4dfe5;
    position: fixed;
    z-index: -1;
  }
  nav ul{
    text-align: right;

  }
  nav ul li{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.6em;
  }
  nav ul li a{
    color: #303c6c;
    font-size: 1.2em;
  }
  nav ul li:hover{
    background-color: #fbe8a6;
  }
  nav ul li a:hover{
    color: #303c6c;
  }
  .container{
    background-color: #303c6c;
    z-index: -2;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
  }
  .about{
    height: 25em;
  }
  #name{
    float: left;
    background-image: url('../images/office.jpg');
    width: 70%;
    background-size: cover;
    background-position: center;
    height:25em;
    background-repeat: no-repeat;
    text-align: center;
    color: white;

  }
  #desc{
    padding: 0 1em 1em 1em;
    text-align: center;
    font-size: 1.5em;
  }
  #background{
    float: left;
    width: 70%;
  }
